<template>
    <div>
    	<div>
		<form>
			<label for="contractor">Select user: </label>
				<select v-model="changeUser.user" class="form-control" @change="onChange()">
				<option disabled value="">Please select one</option>
				<option v-for="user in users.items" :key="user.id" v-if="user.id !== account.user.id" v-bind:value="user">{{user.firstName + ' ' + user.lastName}}</option>
			</select>
		</form>
		</div>

        <h1>Hi {{account.user.firstName}}!</h1>
        <p>{{account.user.userType}}</p>

     <h3>Your accident reports</h3>
        <em v-if="reports.loading">Loading reports...</em>
        <span v-if="reports.error" class="text-danger">ERROR: {{reports.error}}</span>
        <table v-if="reports.items"  class="table">
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Accident Location</th>
                <th>Accident Cause</th>
            </tr>
            <tr v-for="report in reports.items" :key="report.id" v-if="report.contractor === account.user.id">
                <td>{{report.firstName}}</td>
                <td>{{report.lastName}}</td>
                <td>{{report.location}}</td>
                <td>{{report.cause}}</td>
            </tr>
        </table>


    <p>
       <router-link to="/login">Logout</router-link>
    </p>
    </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
    data () {
	   return {
           changeUser: {
			   user: ''
		   }
        }
    },
    computed: {
        ...mapState({
            account: state => state.account,
            reports: state => state.reports.all,
            users: state => state.users.all
        })
    },
     created () {
        this.getAll();
        this.getAllUsers();
    },
     methods: {
        ...mapActions('reports', {
            getAll: 'getAll'
        }),
        ...mapActions('users', {
            getAllUsers: 'getAll'
        }),
        ...mapActions('account', ['login', 'logout']),
		onChange() {
			const { username, password } = this.changeUser.user;
			this.logout();
			this.login({ username, password });
		}
    }
};
</script>