<template>
    <div>
		<div>
		<form>
			<label for="contractor">Select user: </label>
				<select v-model="changeUser.user" class="form-control" @change="onChange()">
				<option disabled value="">Please select one</option>
				<option v-for="user in users.items" :key="user.id" v-if="user.id !== account.user.id" v-bind:value="user">{{user.firstName + ' ' + user.lastName}}</option>
			</select>
		</form>
		</div>
		

        <h1>Hi {{account.user.firstName}}!</h1>
        <p>{{account.user.userType}}</p>

	<h1>Add new report</h1>
	<form @submit.prevent="handleSubmit">
		<div class="form-group">
        	<label for="firstName">First Name</label>
			<input type="text" v-model="report.firstName" name="firstName" class="form-control" :class="{ 'is-invalid': submitted && errors.has('firstName') }" />
			<div v-if="submitted && errors.has('firstName')" class="invalid-feedback">{{ errors.first('firstName') }}</div>
		</div>
		<div class="form-group">
        	<label for="lastName">Last Name</label>
			<input type="text" v-model="report.lastName" name="lastName" class="form-control" :class="{ 'is-invalid': submitted && errors.has('lastName') }" />
			<div v-if="submitted && errors.has('lastName')" class="invalid-feedback">{{ errors.first('lastName') }}</div>
		</div>
		<div class="form-group">
        	<label for="location">Accident Location</label>
			<input type="text" v-model="report.location" name="location" class="form-control" :class="{ 'is-invalid': submitted && errors.has('location') }" />
			<div v-if="submitted && errors.has('location')" class="invalid-feedback">{{ errors.first('location') }}</div>
		</div>
		<div class="form-group">
        	<label for="cause">Accident Cause</label>
			<input type="text" v-model="report.cause" name="cause" class="form-control" :class="{ 'is-invalid': submitted && errors.has('cause') }" />
			<div v-if="submitted && errors.has('cause')" class="invalid-feedback">{{ errors.first('cause') }}</div>
		</div>
		<div class="form-group">
        	<label for="contractor">Contractor</label>
			<select v-model="report.contractor" class="form-control">
				<option disabled value="">Please select one</option>
				<option v-for="user in users.items" :key="user.id" v-if="user.userType==='Contractor'" v-bind:value="user.id">{{user.firstName + ' ' + user.lastName}}</option>
			</select>
		</div>
		<div class="form-group">
			<button class="btn btn-primary">Add Report</button>
		</div>
    </form>


	 <h3>All Reports:</h3>
        <em v-if="reports.loading">Loading reports...</em>
        <span v-if="reports.error" class="text-danger">ERROR: {{reports.error}}</span>
        <table v-if="reports.items" class="table">
			 <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Accident Location</th>
                <th>Accident Cause</th>
				<th>Contractor</th>
            </tr>
            <tr v-for="report in reports.items" :key="report.id">
                <td>{{report.firstName}}</td>
                <td>{{report.lastName}}</td>
                <td>{{report.location}}</td>
                <td>{{report.cause}}</td>
				<td v-for="user in users.items" :key="user.id" v-if="user.id=== report.contractor">{{user.firstName + ' ' + user.lastName}}</td>
            </tr>
        </table>

    <p>
       <router-link to="/login">Logout</router-link>
    </p>

    </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
   data () {
	   return {
		   report: {
			   firstName: '',
			   lastName: '',
			   location: '',
			   cause: '',
			   contractor: ''
		   },
		   changeUser: {
			   user: ''
		   },
		   submitted: false
	   }
   },
   computed: {
        ...mapState({
            account: state => state.account,
            users: state => state.users.all,
			reports: state => state.reports.all
        })
    },
    created () {
        this.getAllUsers();
		this.getAll();
    },
    methods: {
        ...mapActions('users', {
            getAllUsers: 'getAll'
        }),
		 ...mapActions('reports', {
            getAll: 'getAll'
        }),
		...mapActions('reports', ['register']),
		handleSubmit(e) {
            this.submitted = true;
            this.$validator.validate().then(valid => {
                if (valid) {
					this.register(this.report);
					this.report = '';
                }
            });
        },
		...mapActions('account', ['login', 'logout']),
		onChange() {
			const { username, password } = this.changeUser.user;
			this.logout();
			this.login({ username, password });
		}
    }
};
</script>